aiohttp==3.7.4.post0
async-timeout==3.0.1
attrs==20.3.0
chardet==4.0.0
dill==0.3.3
discord.py==1.7.1
idna==3.1
multidict==5.1.0
multiprocess==0.70.11.1
pathos==0.2.7
pox==0.2.9
ppft==1.6.6.3
python-dotenv==0.17.1
RestrictedPython==5.1
six==1.15.0
yarl==1.6.3
